extends layout
block content

    .container
        form(action='/assigned' method='POST')
            .form-group
                label(for='student') Choose a Student
                select#student(name='student').form-control
                    each val in data['students']
                        option= val.name
                br
                label(for='cars') Choose a Mentor:
                select#mentor(name='mentor').form-control
                    each val in data['mentors']
                        option= val.name
                br
                button.btn.btn-primary(type='submit') Submit
