extends layout 

block content
	.container
		.jumbotron.jumbotron-fluid
				.container
					h1.display-4 Student Mentor Portal
					p.lead
						| Student Mentor Portal For Creating and Assigning Mentors/Students
